@charset "UTF-8";
/*------------------------------------*\
    #About the File
\*------------------------------------*/
/*

	Author 						Oscar Alves
	Tools 						Brackets
    CSS Reset                   Andy Bell

 */


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* 
##################

Now for the site... 

##################
*/


body {
    font-family: 'Archivo Black', sans-serif;
    background-color:#1a1a1a;
    color:#ffffff;
}

h1 {
    font-size:2.8rem;
    line-height: 3.6rem;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(-141deg, #009EFF 0%, #E0119D 100%);
    color: transparent;
    -webkit-text-fill-color: transparent;
    position:relative;
}

    h1:before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3), 1px 1px 0 rgba(0,0,0,.25), 2px 2px 3px rgba(0,0,0,.5), 3px 6px 20px rgba(0,0,0,.5)}

h2 {
    color: #8F7B9F;
    font-size:1.2rem;
    letter-spacing:.02rem;
    line-height:2rem;
    margin:3.6rem 0 1.8rem 0;
    width:60vw;
}

/* 
THE GRID 
*/

#wrapper {
    height:95vh;
    display: grid;
    grid-template-columns: 8% 88% 4%;  
    grid-template-rows: 10% 74% 16%;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    grid-column-start: 2;
    grid-column-end: 2;
}

footer {
    grid-area: footer;
    text-align: center;
}

ul.footerNav li {
    list-style-type: none;
    display:inline;
    margin-right:1.6rem;
}

ul.footerNav li:last-child  {
    margin-right:0;
}

ul.footerNav li a {
    width:2rem;
    height:2rem;
    display:inline-block;    
}

ul.footerNav li a.email {
    background: transparent url(../assets/email.svg) no-repeat 50% 110%;
    background-size: 80% 80%;
}

ul.footerNav li a.instagram {
    background: transparent url(../assets/instagram.svg) no-repeat 50% 80%;
    background-size: 70% 70%;
}

ul.footerNav li a.linkedin {
    background: transparent url(../assets/linkedin.svg) no-repeat 50% 80%;
    background-size: 80% 80%;
}

ul.footerNav li a.twitter {
    background: transparent url(../assets/xpto.svg) no-repeat 50% 110%;
    background-size: 80% 80%;
}

/* 
Media Query: Larger than tablet 

*/
@media (min-width: 1000px) {
    
    h1 {
        font-size:3rem;
        line-height: 3.2rem;
        letter-spacing:.2rem;
    }
     
    h1:before {
        text-shadow: -1px -1px 0 rgba(0,0,0,0.3), 1px 1px 0 rgba(0, 0, 0, 0.25), 0 1px 8px rgba(251,0,171,.15), 2px 3px 16px rgba(0,0,0,.5)
    }
    
    h2 {
        font-size:1.3rem;
        letter-spacing:.08rem;
        line-height:2rem;
        margin-top:1.4rem;
        width:100%;
    }
    
    #wrapper {
        grid-template-columns: 8% 84% 8%;  
        grid-template-rows: 10% 64% 26%;
    }
    
}

@media (min-width: 1200px) {
    
    h1 {
        font-size:3.8rem;
        line-height: 4rem;
        letter-spacing:.2rem;
    }
     
    h1:before {
        text-shadow: -1px -1px 0 rgba(0,0,0,0.3), 1px 1px 0 rgba(0, 0, 0, 0.25), 0 1px 8px rgba(251,0,171,.15), 2px 3px 16px rgba(0,0,0,.5)
    }
    
    h2 {
        font-size:1.8rem;
        letter-spacing:.08rem;
        line-height:2rem;
        margin-top:1.6rem;
        width:100%;
    }
    
    ul.footerNav li {
        margin-right:2rem;
    }
    
    #wrapper {
        grid-template-columns: 8% 84% 8%;  
        grid-template-rows: 10% 64% 26%;
    }

}