/* Testing styles*/

body {
 font-family: 'Open Sans', sans-serif;
    margin:50px;
}

h2 {
    
margin-top:100px;
}


/* Buttons from huge */

.button {
    white-space: nowrap;
    box-sizing: border-box;
    padding: 0 30px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    height: auto;
    border-color: #000;
    -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    transition: background-color 0.3s, border-color 0.3s, color 0.3;
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
}

.button.primary {
    background-color: #000000;
    color: #ffffff;
    border: 3px solid #000000;
}

.button.primary:hover, .button.primary:active {
    background-color: #e23d96;
    border-color: #e23d96;
}

.button.secondary {
    border: 3px solid #000;
    color: #000000;
}

.button.secondary:hover, .button.secondary:active {
    border-color: #e23d96;
    color: #e23d96;
}

.buttonsRow .button{
    margin-right:30px;   

}


@media (max-width: 550px) {
    .button {
            width:100%;}
    
    .buttonsRow .button {
        margin-right:0;
        margin-top:30px;
    }
    
}

/* End buttons from huge */